{% import "macros/img.html" as img %}
{% set width = 320 %}
<div class="flex flex-row flex-wrap container mx-auto gap-4 justify-center">
    {% for asset in page.extra.gallery -%}
    {#
    if the gallery is a ma of 'path' and 'alt', extract. Default to expect the root value to be the path for convenience
    #}
    {% set asset_path = asset.path | default(value=asset) %}
    {% set asset_alt = asset.alt | default(value="") %}

    <a href="{{ get_url(path=page.colocated_path ~ asset) }}" target="_blank">

        {%- if asset is matching("[.](jpg|png)$") -%}

        {# Formatted types: JPG, PNG #}

        {% set image = resize_image(path=page.colocated_path ~ asset_path, width=width, op="fit_width") %}
        {{ img::render(src=asset_path, alt=asset_alt) }}

        {%- else -%}

        {# Non formatted types #}
        {{ img::render(src=asset_path, alt=asset_alt) }}

        {%- endif %}
    </a>
    {%- endfor %}
</div>