<!-- 
 Hey hey! this is hard-coded for my-kofi to ensure the classes get injected into tailwind. 
 You'll need to make an overriding shortcode in your `templates/shortcodes` called `kofi.html
 Just do your best to copy this styling if you want the same as I have. Else use Kofi's style
-->

<div class="flex not-prose container mx-auto justify-center">
    <div class="bg-accent p-2 rounded-box shadow-2xl">
        <a class="flex flex-col flex-wrap justify-center" href='https://ko-fi.com/G2G3AP0TR' target='_blank'
            rel="noopener noreferrer">
            <img class="rounded-full shadow-md" src='https://storage.ko-fi.com/cdn/kofi4.png?v=3'
                alt='Buy Me a Coffee at ko-fi.com' />
        </a>
    </div>
</div>