{% macro render(src, alt="") %}

<div class="flex justify-center not-prose">
    <div class="card card-compact shadow-2xl bg-neutral max-w-lg">
        <figure>
            <a href="{{src}}" target="_blank" rel="noopener noreferrer">
                <img class="rounded-box shadow-md" src="{{src}}" alt="{{alt}}" title="{{alt}}" />
            </a>
        </figure>
        {% if alt %}
        <div class="card-body">
            <p class="prose">
                {{ alt | markdown(inline=true) | safe }}
            </p>
        </div>
        {% endif %}
    </div>
</div>

{% endmacro %}