<div>
    {% set width = 320 %}
    {% for asset in page.extra.gallery -%}
    {%- if asset is matching("[.](jpg|png)$") -%}
    {# Formatted types: JPG, PNG #}
    {% set image = resize_image(path=page.colocated_path ~ asset, width=width, op="fit_width") %}
    <a href="{{ get_url(path=page.colocated_path ~ asset) }}" target="_blank">
        <img src="{{ asset }}" />
    </a>
    {%- else -%}
    {# Non formatted types #}
        <a href="{{ get_url(path=page.colocated_path ~ asset) }}" target="_blank">
            <img src="{{ get_url(path=page.colocated_path ~ asset) }}" />
        </a>
    {%- endif %}
    {%- endfor %}
</div>