{% set img_width = "75%" %}
{% set cap_width = "65%" %}
{% if width %}
{% set img_width = [width | as_str, "%"] | join(sep="") %}
{% set cap_width = [(width - 10) | as_str, "%"] | join(sep="") %}
{% endif %}

<div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; ">
    <img class="{% if background %} bg-{{background}} {% else %} bg-secondary {% endif %} rounded"
        style='max-width: {{img_width}}; padding: .5rem;' src="{{src}}" alt="{{alt}}" title="{{alt}}" />
    {% if alt %}
    <div class="{% if background %} btn-{{background}} {% else %} btn-secondary {% endif %} rounded-bottom"
        style="padding: .5rem; max-width: {{cap_width}};">
        <b>
            {{alt}}
        </b>
    </div>
    {% endif %}
</div>
<br />