<div class="container-sm" style="padding: 1rem;">
	<div class="row align-items-center justify-content-start rounded bg-secondary" style="padding: 0.5rem;">
		<div class="col-md rounded align-self-start {% if nth % 2 == 0 %} order-last {% endif %}"
			style="padding: 1rem;">
			<h2 class="text-white">
				<a href="{{link}}">
					{{ header }}
				</a>
			</h2>
			<p class="text-white"> {{ text }} </p>
			<!-- 
			-->
		</div>
		<div class="col-lg" style="padding: 1rem;">
			<a href="{{ link }}">
				<img class="img-fluid rounded" alt="A screengrap from the game"
					src=" {{ get_url(path=page.colocated_path ~ img) }}" />
			</a>
			<!-- 
			-->
		</div>
	</div>
</div>